body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
    background-color:#f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}
.password-container{
    background-color:pink;
    width: 500px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.3);
    text-align:center;
    margin: 10px;
}

.input-container{
    border: solid 2px black;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-container input{
    border:none;
    outline:none;
    background-color: transparent;
    font-size: 24px;
    letter-spacing: 4px;
}
.input ::placeholder{
    letter-spacing: 0px;
}

.fa-copy {
    cursor: pointer;
    opacity: 3;
}

.fa-copy:hover {
    opacity: 0.7;
}

.btn{
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 20px;
    border:none;
    border-radius:5px;
    background-color:black;
    color:white;
    cursor: pointer;
}

.btn:hover{
    background-color: green;
}

.btn:active{
    transform: scale(0.95);
}

.alert-container{
    position: fixed;
    width: 300px;
    height: 50px;
    background-color: lightgreen;
    right:20px;
    bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: 0.4s;
}

.active.alert-container{
 right: -300px;
}

